#compliment {
    margin-top: 30px;
    padding-top: 15px;
}
body {
    background-color:cornflowerblue;
}
header {

    font-weight: 500;
    font-size: 45px;
    background-color: black;
    color:beige;
    font-family: 'Courgette', cursive;
}
img {
    padding-bottom: 20px;
}
footer {
    background-color: black;
    color: beige;
    padding: 10px;
    width: 100%;

}
#headbutton {
    display:inline-flex;
    font-weight: 400;
    font-size: 20px;
    text-decoration:overline;
    color:beige;
    background-color:dark;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-width: 0.2em;
    border-radius: 1em;
    font-family: 'Courgette', cursive;
}
#condi {
    margin-top: 35px;
}
#cpwd {
    margin-top: 9px;
}
.navbar-brand {
    color: cornflowerblue;
}