#compliment {
    margin-top: 30px;
    padding-top: 15px;
}
body {
    background-color:darkslateblue;
}
header {
    font-family: 'Patrick Hand', cursive;
    font-weight: 500;
    font-size: 45px;
    background-color: black;
    color:beige
}
img {
    padding-bottom: 20px;
}
footer {
    background-color: black;
    color: beige;
    padding: 10px;
    width: 100%;

}
#headbutton {
    display:inline-flex;
    font-weight: 400;
    font-size: 20px;
    text-decoration:overline;
    color:beige;
    background-color:darkred;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 15px, 25px, 8px, 25px;
}
#condi {
    margin-top: 35px;
}
#cpwd {
    margin-top: 9px;
}