/* cards */
.card-footer {
    background: transparent;
    border-top: 0px;
}
#headbutton {
    display:inline-flex;
    font-weight: 400;
    font-size: 20px;
    text-decoration:overline;
    color:beige;
    background-color:dark;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-width: 0.2em;
    border-radius: 1em;
    font-family: 'Courgette', cursive;
}
.card-body {
    margin: 10px;
    padding: 5px;
}
.card {
    background-color: black;
    margin-left: 5px ;
    margin-right:5px;
}
.card-title {
    color:lightsalmon;
    text-decoration: underline;
}
.card-text {
    color:darksalmon;
}
nav {
    margin-bottom: 10px;
}
#checkout {
    margin: 10px;
    text-align: center;
}
footer {
    background-color: black;
    color: beige;
    padding: 10px;
    width: 100%;

}
#descript {
    padding: 10px, 15px, 10px, 25px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
    color:lightsalmon;
    font-family: 'Courgette', cursive;
    font-family: 'Patrick Hand', cursive;
    
}
#title {
    background-color: black;
    color:darksalmon;
    margin-top: 30px;
    font-size: 25px;
    font-family: 'Courgette', cursive;
}
.price {
    text-align: end;
    color:beige;
}
.pagination {
    justify-content: right;
    margin-right: 30px;
}